<h1>Blog de Segundas - Angie Tlaixco</h1>
<%= link_to "Crear nueva", new_post_path %>

<table border="1">
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Cuerpo</th>
			<th>Autor</th>
			<th>Fecha de creación</th>
			<th>Última modificación</th>
			<th colspan="2">Acciones</th>
		</tr>
	</thead>
	<tbody>
		<%= render @posts %>

	</tbody>

</table>